.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.d-flex-center {
  display: flex;
  justify-content: center;
}

#editor {
  padding: 10px;
}

#preview .konvajs-content {
  border: 1px solid red;
}

.list-element {
  height: calc(100% - 40px);
  max-height: 550px;
  overflow-y: auto;
}

.panel-button {
  height: 40px;
  display: flex;
  align-items: flex-end;
}

.panel-button button {
  margin: 0 5px;
}

#info {
  padding: 0 15px;
  max-width: 400px;
}

#info > pre {
  max-height: 555px;
  overflow-y: auto;
  background-color: #e8e8e8;
  white-space: initial;
  text-align: left;
  word-break: break-word;
}

.element-items {
  text-align: left;
  display: flex;
}
.element-items .element-base-info {
  width: 400px;
  display: flex;
}
.element-items .element-info {
  width: 200px;
}
.element-items .element-attrs {
  width: 200px;
}
.element-items .element-options {
  width: 100px;
}
.panel-item {
  display: flex;
  border-bottom: 1px solid gray;
  padding: 5px 0;
}

.panel-item:last-child {
  border-bottom: none;
}

.font-size {
  width: 50px;
}
i.sort {
  cursor: move;
}
.text-left {
  text-align: left;
}
